# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

include:
  - r: devel
  - r: release
  - r: 3.5
  - r: 3.4
  - r: 3.3
  - r: 3.2

after_success:
  - Rscript -e 'covr::codecov()'
